.profile header {
  text-align: center;
  margin: 0 0 30px;
  padding: 0 0 30px;
  border-bottom: 1px solid #f5f5f5;
}
.profile header h1 {
  font-size: 45px;
  margin: 15px 0 25px;
}
.profile .skills .badge {
  float: none;
  margin: 0;
  padding: 10px;
  margin-bottom: 15px;
}
.profile .sidebar {
  border-right: 1px solid #f5f5f5;
}
.profile form button {
  margin-right: 10px;
}
.profile form, .profile form select {
  display: block;
}
